.main{
    flex: 1;
    min-width: 0;
    overflow: hidden;
}
.main_header{
    width: 100%;
    height: auto;
    border-bottom: solid 1px #BEBABA;
}
.title{
    width:fit-content;
    height: auto;
    font-family: 'Extra Bold';
    font-size: clamp(16px, 3vw, 36px);
    color: #000;
    padding: 2vw 1vw 0 1vw;
    box-sizing: border-box;
    margin: 3vw 0 0 0 !important;
    padding: 0 0 0 2vw;
}
.subtitle{
    width:fit-content;
    height: auto;
    font-size: clamp(14px, 1.4vw, 28px);
    margin: 0 0 0 0 !important;
    padding: 0 1vw 0 8vw;
    font-weight: 100;
}
.ul{
    list-style: none;
    width: 100%;
    max-height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}
.li{
    width:11vw;
    height: 3vw;
    background-color:#F6F6F6;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
    font-size: 1.3vw;
    border-radius: 999px;
    margin: 0 1vw 0 1vw !important;
}
.mouseClick{
    background-color: #FFF385;
}
@media (max-width: 500px) {
    .title{
        font-size: 6vw;
    }
    .subtitle{
        font-size: 4vw;
    }
    .li{
        width: 40vw;
        height: 10vw;
        font-size: 4vw;
    }
}