.main{
    flex: 1;
    min-width: 0;
    position: relative;
    overflow:hidden;
}
.header{
    width: 100%;
    height: 20%;
}
.title1{
    margin: 3vw 0 0 2vw;
}
.title2{
    margin: 0 0 0 6vw;
    font-weight: 100;
}
.ul{
    list-style: none;
    display: flex;
    margin-top: 1vw;
}
.li{
    min-width: 0%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5vw;
    padding: 0 0.5vw 0 0.5vw;
}
.body{
    width: 100%;
    height: 50%;
}