.main{
    flex: 1;
    min-width: 0;
    overflow: hidden;
}
.top{
    width: 100%;
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    width: 90%;
    min-height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 1px;
}
.top_left{
    width: 40%;
    height: 100%;
}
.top_right{
    width: 50%;
    height: 100%;
    margin-top: 6vh;
}
.title1{
    width: fit-content;
    font-size: clamp(16px, 3vw, 36px);
    text-align: center;
    margin:5vh 0 0 0 !important;
}
.title2{
    width: fit-content;
    font-size: clamp(14px, 1.4vw, 28px);
    text-align: center;
    margin-left: 5rem;
    font-weight: 100;
    font-family: 'Regular';
}
.myinfo{
    width: 80%;
    height: 12vw;
    border-radius: 10px;
    border: 1px solid rgba(0,  0, 0, 0.2);
    box-shadow: 1px 2px 1px rgba(0,  0, 0, 0.2);
    display: flex;
    margin:3vh 0 0 3vw !important;
}

.myinfo_left{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myinfo_right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myPhoto{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myName{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}
.img{
    width: 80%;
    height: auto;
}
.p{
    font-size: clamp(12px, 1.2vw, 24px);
    width: 5rem;
    min-height: 1rem;
    text-align: center;
    font-weight: bolder;
}
.p2{
    width: fit-content;
    height: 3.5rem;
    font-size: clamp(12px, 1.2vw, 24px);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}
.basicInfo{
    width: 100%;
    height: 15vh+50px;
    border-bottom: 1px solid #BEBABA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skillsInfo{
    width: 100%;
    height: 10vh+100px;
    border-bottom: 1px solid #BEBABA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}

.ball{
    width: 1.2vw;
    height: 1.2vw;
    background-color: #F38D52;
    border-radius: 999px;
    display: flex;
    align-items: center;
}
.title3{
    width: fit-content;
    height: 1rem;
    margin-left: 1%;
    font-size: clamp(12px, 1.2vw, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail{
    width: 90%;
    height: 50%;
    margin: 2% 0 0 3%;
}
.detail2{
    width: 90%;
    height: 50%;
    margin: 2% 0 0 3%;
}
.p3{
    font-size: clamp(10px, 1vw, 20px);
    font-weight: 700;
    margin: 0 0 1vh 0;
}
.span_change{
    font-size: clamp(8px, 1vw, 18px);
    font-weight: 100;
    margin: 0 0 0 14%;
}
.span{
    font-size: clamp(8px, 1vw, 18px);
    font-weight: 100;
    margin: 0 0 0 0;
}
.myIdea{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_idea{
    width: 10%;
    height: 6vh;
    display: flex;
    align-items: center;
}
.ideaContents{
    width: 60%;
    height: 80%;
    background-color: rgb(243, 141, 82,0.38);
    clip-path: polygon(
        80px 0,
        100% 0,
        100% 100%,
        80px 100%,
        0 50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    font-weight: bold;
}
/* ipad */
@media (max-width: 1200px) {
    .top {
        height:30vh;
    }
    .myinfo {
        width: 80%;
        height: auto !important;
    }
    .myPhoto{
        width: 80%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .myName{
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    .down{
       margin: 3% 0 0 0 !important;
       min-height: auto !important;
    }
}
@media (max-width: 430px) {
    .top {
        flex-direction: column;
        height: auto;
        min-height: auto !important;
    }
    .top_left {
        width: 100%;
    }
    .top_right {
        width: 100%;
        margin-top: 3vh;
    }
    .myinfo {
        width: 80%;
        height: 50%;
    }
    .myPhoto{
        width: 80%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .myName{
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
    }
    .myinfo_left{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header{
        width: 100%;
        min-height: 30%;
        display: flex;
        font-size: 3vh;
        align-items: center;
    }
    .span_change{
        margin-left: 20%;
    }
    .down{
       margin: 0 0 0 0 !important;
       min-height: auto !important;
    }
    .myIdea{
        width: 100%;
        height: 4vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ideaContents{
        width: 30%;
        height: 80%;
        background-color: rgb(243, 141, 82,0.38);
        clip-path: polygon(
            200px 0,
            100% 0,
            100% 100%,
            200px 100%,
            0 50%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        font-weight: bold;
    }
}