.h1{
    width: 20vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    cursor: pointer;
}
.body{
    width: 100%;
    height: 100%;
    position: relative;
}
.ball1,.ball2,.ball3,.ball4,.ball5,.ball6{
    width: 11vw;
    height: 11vw;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
}
.ball1{
    background: radial-gradient(circle,#FFFFFF,#B4F496);
}
.ball2{
    background: radial-gradient(circle,#FFFFFF,#85C6FF);
}
.ball3{
    background: radial-gradient(circle,#FFFFFF,#E985FF);
}
.ball4{
    background: radial-gradient(circle,#FFFFFF,#FF8585);
}
.ball5{
    background: radial-gradient(circle,#FFFFFF,#FFEC3D);
}
.ball6{
    background: radial-gradient(circle,#FFFFFF,#F38D52);
}
.design_h1{
    width: 30vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    cursor: pointer;
}
.design_body{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheep{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sheep_img{
    width: 70%;
    object-fit: contain;
}
.QcyjImg1{
    margin-bottom: 6vw;
}
.QcyjImg3{
    margin-bottom: 13vw;
}
.QcyjImg4{
    margin-top: 3vw;
}
.QcyjImg1,.QcyjImg2,.QcyjImg3,.QcyjImg4{
    display: flex;
    align-items: center;
}
/* jiangzhong */

.useToolsBody{
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolsBall{
    background-color: #F38D52;
    width: 1vw;
    height: 1vw;
    border-radius: 999px;
    margin: 0 1.5vw 0 1.5vw;
}
.Pyx1{
    margin-bottom: 3vw;
}
.Pyx2{
    margin-top: 10vw;
}
.Dh1{
    margin-bottom: 3vw;
}
.Dh2{
    margin-top: 10vw;
}
.Dh1,.Dh2{
    width: 95%;
    height:auto;
}
img{
    width: 100%;
    height: auto;
}